**Learning Python | Map, Filter, ListComp, GenExp, Tuples, Nested Tuples,Pattern Matching...and more** <br>
    - examples from 'Fluent Python' book - Chapter 2

In [1]:
symbols = 'ABCDEFG'

beyond_ascii = [s for s in symbols if ord(s) > 67]
beyond_ascii

['D', 'E', 'F', 'G']

In [2]:
beyond_ascii = list(filter(lambda c: c > 67, map(ord,symbols)))
beyond_ascii

[68, 69, 70, 71]

In [3]:
from dataclasses import dataclass

@dataclass
class Person:
    name: str
    idade: int

def retorna_idade_cada_pessoa(person: Person):
    return person.idade

lista_pessoas = [ Person('Juliana',c) for c in range(20,30)]
lista_pessoas
#map and filter
lista_pessoas_apenas_com_mais_de_25 = list(filter(lambda o: o >= 25, map(retorna_idade_cada_pessoa,lista_pessoas))) 
lista_pessoas_apenas_com_mais_de_25
lista_pessoas_apenas_com_mais_de_27 = list(filter(lambda o: o >= 27, lista_pessoas_apenas_com_mais_de_25)) 
lista_pessoas_apenas_com_mais_de_27

[27, 28, 29]

In [4]:
import collections

Card = collections.namedtuple('Card',['rank','color']) #giving name for a n-tuple

CartaEB = Card('espadas','blue')

In [5]:
#genexp - generator expressions. Saves memory because just generates the elements os the list, doesnt save it

tuple(ord(symbol) for symbol in symbols) #initializing a tuple from a genexp

(65, 66, 67, 68, 69, 70, 71)

In [6]:
#using genexp in a for - Cartesian Product 

colors = ['black','white']
sizes = ['S','M','L']

for tshirt in (f'{c} {s}' for c in colors for s in sizes):
    print(tshirt)

black S
black M
black L
white S
white M
white L

Tuple Unpacking - %

In [7]:
flights_of_night = [('BR','21h30'),('USA','20h'),('AUS','22h'),('CA','19h23')]
for flights_times in flights_of_night:
    print('%s - %s' % flights_times)

BR - 21h30
USA - 20h
AUS - 22h
CA - 19h23

List and Tuples Methods

In [8]:
# Comparing Tuples and List Methods

list_example = [1,2]
list_example2 = [2,3,4]
tuple_example = tuple([1,2])

list_example.__iadd__(list_example2) #concat in-place

tuple_example.__contains__(3) #if 3 in tuple_example
tuple_example.count(1) # how many times does 1 appears in tuple_example

list_example.__delitem__(0) #delete item at pos 
list_example.extend(tuple_example) #add iterable- tuple - at the list

print('list before: ',list_example2)
list2_multiplied_5_times = list_example2.__mul__(5) #multiply list n times and the concatenation
#list_example2.__mul__(5)
list_example2.__rmul__(4)

list_string = ['a','c','d','b']

def my_func(e):
    return ord(e)

list_string.sort(key=my_func, reverse=False) #sort(key, reverse) - key: function & reverse: True or False
list_string

list before:  [2, 3, 4]

['a', 'b', 'c', 'd']

Unpacking Tuples, Using * to grab excess

In [9]:
a = 2
b = 3
a,b = b, a #an elegant way of unpacking

In [10]:
t = (20,8)
divmod(*t)
quotient, remainder = divmod(*t)
quotient, remainder

(2, 4)

In [11]:
#another example, this one using a file name extraction from a link
#Tuple - Unpacking
import os
_,file_name = os.path.split('/home/juliana/.ssh/id_juliana_01.pdf')
file_name

'id_juliana_01.pdf'

In [12]:
#Using * to grab excess items

sentence = ['Antony Klaus','20 years','Lives in USA','Antony has a beautiful story.....','He has a dog','Antony is married','He is a doctor']

name, age, country,*rest, profission = sentence
name,age, country,rest,profission

('Antony Klaus',
 '20 years',
 'Lives in USA',
 ['Antony has a beautiful story.....', 'He has a dog', 'Antony is married'],
 'He is a doctor')

In [13]:
def fun(a,b,c,d,*rest):
    return a,b,c,d

fun(*[1,'juliana','bookworm'],' student 1',*[' she was amused with the....',32424,'4343'])

(1, 'juliana', 'bookworm', ' student 1')

In [14]:
[*range(4),4]

[0, 1, 2, 3, 4]

Nested Unpacking

In [5]:
metro_areas = [
 ('Tokyo', 'JP', 36.933, (35.689722, 139.691667)),
 ('Delhi NCR', 'IN', 21.935, (28.613889, 77.208889)),
 ('Mexico City', 'MX', 20.142, (19.433333, -99.133333)),
 ('New York-Newark', 'US', 20.104, (40.808611, -74.020386)),
 ('São Paulo', 'BR', 19.649, (-23.547778, -46.635833)),
]

def main():
    print(f'{"":15}| {"CT":>2} | {"latitude":>9} | {"longitude":>9}') #each field has a minimum number of length
    for name, country,_,(lat,lon) in metro_areas:
        #if lon <=0:
        print(f'{name:15}| {country:2} | {lat:9.4f} | {lon:9.4f}')

if __name__ == '__main__':
 main()

               | CT |  latitude | longitude
Tokyo          | JP |   35.6897 |  139.6917
Delhi NCR      | IN |   28.6139 |   77.2089
Mexico City    | MX |   19.4333 |  -99.1333
New York-Newark| US |   40.8086 |  -74.0204
São Paulo      | BR |  -23.5478 |  -46.6358

Pattern Matching

In [6]:
#requires python 3.10

#same example, though using pattern matching
metro_areas = [
 ('Tokyo', 'JP', 36.933, (35.689722, 139.691667)),
 ('Delhi NCR', 'IN', 21.935, (28.613889, 77.208889)),
 ('Mexico City', 'MX', 20.142, (19.433333, -99.133333)),
 ('New York-Newark', 'US', 20.104, (40.808611, -74.020386)),
 ('São Paulo', 'BR', 19.649, (-23.547778, -46.635833)),
]

def main():
 print(f'{"":15} | {"latitude":>9} | {"longitude":>9}')
 for record in metro_areas:
    match record:
        case [name, _, _, (lat, lon)] if lon <= 0:
            print(f'{name:15} | {lat:9.4f} | {lon:9.4f}')

if __name__ == '__main__':
 main()

                |  latitude | longitude
Mexico City     |   19.4333 |  -99.1333
New York-Newark |   40.8086 |  -74.0204
São Paulo       |  -23.5478 |  -46.6358